		<div id='outer-wrapper'>
		
			<nav class="navbar navbar-default">Responsive Menu here</nav>
			
			<!--Main container-->
			<div class="container" id="header">
		
				<!-- 1-1 item starts here -->
				<div class="row">
					
					<div class="col-xs-12 col-md-12">
						
						<span class="placehold-text">1-1</span>

					</div>
					
				</div>
				<!-- 1-1 item ends here -->	
				
				<!-- 1-2 items start here-->
				
				<div class="row">
				
					<div class="col-xs-6 col-md-6">
						
						<span class="placehold-text">1-2</span>
						
					</div>
					
					<div class="col-xs-6 col-md-6">
						
						<span class="placehold-text">1-2</span>
						
					</div>
					
				</div>
				
				<!-- 1-2 items ends here-->
				
				<!-- 1-3 items start here-->
				<div class="row">
				
					<div class="col-xs-4 col-md-4">
						
						<span class="placehold-text">1-3</span>
						
					</div>
					
					<div class="col-xs-4 col-md-4">
						
						<span class="placehold-text">1-3</span>
						
					</div>
					
					<div class="col-xs-4 col-md-4">
						
						<span class="placehold-text">1-3</span>
						
					</div>
					
				</div>
				<!-- 1-3 items ends here-->
				
				<!-- 1-4 items start here-->
				<div class="row">
				
					<div class="col-xs-3 col-md-3">
						
						<span class="placehold-text">1-4</span>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minima iste reiciendis, voluptatem soluta quibusdam neque magnam temporibus modi fugit quae quasi iusto dolorum fuga placeat consequatur culpa, accusamus error?
						
					</div>
					
					<div class="col-xs-3 col-md-3">
						
						<span class="placehold-text">1-4</span>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum blanditiis voluptatem sequi qui saepe quasi officia ad alias beatae vitae, ratione pariatur provident harum, reiciendis laudantium suscipit. Commodi, architecto, ab.
						
					</div>
					
					<div class="col-xs-3 col-md-3">
						
						<span class="placehold-text">1-4</span>
					 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi exercitationem consequatur iste, minus commodi cupiditate quas sapiente tempore quae fuga nam odit architecto repellendus ut doloribus corporis illo, incidunt necessitatibus.
						
					</div>
					
					<div class="col-xs-3 col-md-3">
						
						<span class="placehold-text">1-4</span>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo autem unde illo quo, cum perspiciatis obcaecati maiores iste? Quae quas tempora, architecto expedita praesentium quis in ratione sint saepe, iure.
						
					</div>
					
				</div>
				<!-- 1-4 items ends here-->
				
			</div>
			<!--Main container ends here-->
		
		</div>